.gallery_image-container {
	position: relative;
}

.gallery_image {
	width: 100%;
}

.gallery_image-caption {
	position: absolute;
	bottom: 2rem;
	left: 1.5rem;
	right: 1.5rem;

	span{
		background-color: #000;
		color: #FFF;
	}
}

.wp-caption {
	width: auto!important;
}

.wp-caption img {
	width: 100%;
	display: block;
}

.wp-caption-text {
	background-color: #000;
	color: #fff;
	padding: 6px;
}

.casestudy_gallery_wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	z-index: 10;
	background-color: #000;
}

.casestudy_gallery_header {
	position: absolute;
	top: 0;
	left: 0;

	& .nav-toggle svg rect {
		fill: #FFF;
	}
}

.casestudy_gallery_caption {
	position: absolute;
    bottom: 2rem;
    left: 2rem;
    background: #000;
    color: #FFF;
    font-weight: 600;
    padding: .25rem;
    display: inline;
}

.casestudy_gallery_close {
	@extend .nav-toggle;
	width: 3rem;
}

// fullpage.js overrides:

#fp-nav.left {
	left: -14px;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
	background: #FFF;
}


.instagram {
//	background-color: #EEE;
	padding: $space;
	position: relative;
	overflow: auto;
	background-color: #545050;
	color: #FFF;
	z-index: 5;

	@media screen and (min-width: 768px) {
		padding-left: $logo-size-medium;

	}

	@media screen and (min-width: 1200px) {
		padding-left: $logo-size-large;
	}
}

.instagram_images {
	max-width: 1440px;
	@media screen and (min-width: 768px) {
		margin-left: -$space;
	}
}

.instagram a {
	position: relative;
	display: block;
	margin-bottom: 1rem;
	box-sizing: border-box;
	height: 230px;
	overflow: hidden;

	@media screen and (min-width: 768px) {
		width: 50%;
		float: left;
		padding-left: 1rem;
	}

	@media screen and (min-width: 1120px) {
		width: 25%;
		max-width: 100%;
	}

	img {
		width: 100%;
	}
}

span.instagram_image_caption {
    position: absolute;
    top: 100%;
    left: 1rem;
    transform: translate(0, -2.6rem);
    transition: transform .2s ease-out;
    font-size: .7rem;
    font-weight: 600;
    color: #000;
    background-color: #FFF;
    padding: .25rem .5rem;
    box-sizing: border-box;
   // max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
   // border-bottom: 4px solid #FFF;

    .instagram a:hover & {
    	transform: translate(0, -100%);
    }

    @media screen and (max-width: 767px) {
    	left: 0;
    }
}