.gallery_image-container {
	position: relative;
}

.gallery_image {
	width: 100%;
}

.gallery_image-caption {
	position: absolute;
	bottom: 2rem;
	left: 1.5rem;
	right: 1.5rem;

	span{
		background-color: #000;
		color: #FFF;
	}
}

.wp-caption {
	width: auto!important;
}

.wp-caption img {
	width: 100%;
	display: block;
}

.wp-caption-text {
	background-color: #000;
	color: #fff;
	padding: 6px;
}

.casestudy_gallery_wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	z-index: 10;
	background-color: #000;
}

.casestudy_gallery_header {
	position: absolute;
	top: 0;
	left: 0;

	& .nav-toggle svg rect {
		fill: #FFF;
	}
}

.casestudy_gallery_caption {
	position: absolute;
    bottom: 2rem;
    left: 2rem;
    background: #000;
    color: #FFF;
    font-weight: 600;
    padding: .25rem;
    display: inline;
}

.casestudy_gallery_close {
	@extend .nav-toggle;
	width: 3rem;
}

/* fullpage.js overrides:*/

#fp-nav.left {
	left: -14px;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
	background: #FFF;
}

.fp-slide img.cover.bgwidth {
	width: auto;
	height: 100%;
}

.fp-slide img.cover.bgheight {
	width: 100%;
	height: auto;
}