body {
//  overflow: hidden;
}

#container {
	opacity: 1;
	transition: opacity .2s linear;
}

.loading #container{	
	opacity: 0;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  /* change if the mask should have another color then white */
  z-index: 3;
  /* makes sure it stays on top */
}

#header {
	position: fixed;
	z-index: 4;
	width: 100%;
//	background: linear-gradient(to top, rgba(255,255,255,0),rgba(0,0,0,.33) );
	transition: background-color .1s ease-out;
}

#header:before {
	content: '';
	display: block;
	width: 100%;
	background: #FFF;
	height: 45px;
	position: absolute;
	top:-45px;
	transition: all 0.2s linear;
	transform: translateY(0);
//	box-shadow: 0 1px 0 rgba(0,0,0,0.075);
	
	@media screen and (min-width: 768px) {
		display: none;
	}
}

.header-minimized #header:before {
		transform: translateY(45px);	
}

#branding {
	width: $logo-size-small;
	height: $logo-size-small;

	@media screen and (min-width: 768px) {
		width: $logo-size-medium;
		height: $logo-size-medium;
	}

	@media screen and (min-width: 1200px) {
		width: $logo-size-large;
		height: $logo-size-large;
	}
}

#site-title {
	width: $logo-size-small;
	height: $logo-size-small;
	position: relative;
	overflow: hidden;

	@media screen and (min-width: 768px) {
		width: $logo-size-medium;
		height: 100vh;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #FFF;
			transform: translateY(-100%);
			transition: transform .2s linear;
		}
	}

	@media screen and (min-width: 1200px) {
		width: $logo-size-large;
	}

}

.header-minimized #site-title:before {
	transform: translateY(0);
}

#sbk_logo {
	position: relative;
	z-index: 5;
	display: block;
	width: $logo-size-small;
	height: $logo-size-small;
	background-color: transparent;
	transition: all .2s linear;

	.logo_character {
		fill: #FFF;
		transition: all .4s linear;
	}

	@media screen and (min-width: 768px) {
		width: $logo-size-medium;
		height: $logo-size-medium;
	}

	@media screen and (min-width: 1200px) {
		width: $logo-size-large;
		height: $logo-size-large;
	}
}

.loading #sbk_logo,
.header-minimized.loading #sbk_logo {
	width: $logo-size-small;
	height: $logo-size-small;

	@media screen and (min-width: 768px) {
		width: $logo-size-medium;
		height: $logo-size-medium;
	}

	@media screen and (min-width: 1200px) {
		width: $logo-size-large;
		height: $logo-size-large;
	}

	& .logo_character {
		fill: transparent;
	}
}

.header-minimized #sbk_logo {

//	background-color: #FFF;
	height: 45px;
	width: 45px;

	& .logo_character {
		fill: #000;
	}

	@media screen and (min-width: 768px) {
		width: $logo-size-medium;
		height: $logo-size-medium;
		//transform: translateY(45px);
	}

	@media screen and (min-width: 1200px) {
		width: $logo-size-large;
	    height: $logo-size-large;
	}
}



.site-title_h1,
.site-title_text {
	display: none;
}

// For category posts the category title is next to the logo
.category-title {
	position: fixed;
	z-index: 5;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: -.01em;
	color: #FFF;
	left: $logo-size-small;
	top: ($logo-size-small/2) - 13px;
	right: 50px;
	margin: 0;
	transition: all .2s linear;

	& a {
		text-decoration: none;
		color: inherit;
	}

	@media screen and (min-width: 768px) {
		left: $logo-size-medium;
		top: 35px;
		line-height: 45px;		
		transition: none;
		z-index: 5;
	}

	@media screen and (min-width: 1200px) {
		left: $logo-size-large;
	}
}

.category-title_category {
	display: none;

	@media screen and (min-width: 768px) {
		display: inline;
	}
}

.home .category-title_category {
	display: inline;
}

.header-minimized .category-title {
	position: fixed;
	top: 0;
	font-size: .85rem;
	line-height: 45px;
	left: 45px;
	color: $copper;

	@media screen and (min-width: 768px) {
		left: $logo-size-medium/2;
	    display: inline-block;
	    right: initial;
	    transform-origin: left 50%;
	    transform: translate(0%, $logo-size-medium) rotateZ(90deg);
	    z-index: 5;
	    transition: none;
	}

	@media screen and (min-width: 1200px) {
		left: $logo-size-large/2;
		transform: translate(0%, $logo-size-large) rotateZ(90deg);
	}
}

.nav-toggle {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    font-weight: 600;
    height: 3rem;
 // width: 50px;
    text-decoration: none;
    padding: 0;
    z-index: 10;
    color: #FFF;
    text-align: center;

    & i.fa {
    	font-size: .5em;
    	line-height: 1rem;
    	position: relative;
    	top: -0.25em;
    }

    & #hamburger {
    	width: 3rem;
    	display: block;
    		
		.line {
			fill: #FFF;
		}
    }
}

.nav-toggle_text {
	font-size: 0.75rem;
	position: relative;
	top: -1rem;
}

.nav-open .nav-toggle {
    background-color: $copper;
}

.header-minimized #hamburger{

	.line {
		fill: #000;
	}
}

.nav-open.header-minimized #hamburger {
	.line {
		fill: #FFF;
	}
}

.header-minimized .nav-toggle_text {
	color: #000;
}

.nav-open.header-minimized .nav-toggle_text {
	color: #FFF;
}

#menu-container {
	position: fixed;
    top: 0;
    left: 100%;
    min-width: 14rem;
    z-index: 1;
    padding-top: 51px;
    transform: translate(0,0);
}

.header-minimized #menu-container {
	padding-top: 45px;
}

.nav-open #menu-container,
#menu-container:target  {
	transform: translate(-100%, 0);
}	


ul.menu {

	background: #c76b6b;
    padding: 1rem;
    position: relative;

    &:before {
    	content: '';
    	display: block;
    	width: 0;
    	height: 0;
    	border: 10px solid transparent;
    	border-bottom-color: $copper;
    	position: absolute;
    	top:-10px;
    }

	li {
		list-style-type: none;
	}

	a {
		display: block;
		color: #FFF;
		background-color: $copper;
		font-weight: 600;
		text-decoration: none;
		padding: 8px 0;
		border-bottom: 1px solid #fff;
	}
}

#search {
	padding: 1rem;
	color: #FFF;

	label {
		display: none;
	}

	.search-field {
		background-color: #FFF;
		border: 1px solid transparent;
		padding: 15px;
		font-size: 1rem;
		font-weight: 600;
		color: #000;
		width: calc(100% - 55px);
		height: 50px;
		line-height: 50px;

		&:focus {
			outline: none;
			border-bottom: 2px solid #FFF;
		}
	}

	.search-submit {
		background: #222;
		border: 1px solid transparent;
		font-size: 1rem;
		font-weight: 600;
		color: #FFF;
		height: 50px;
		width: 50px;
	}
}
